:root{
    --vermelho:#E50914;
    --preta:#141414;
}
/*elementos base*/
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container{
display: flex;/*joga tudo pra linha*/
flex-direction: row;/*mesmo jeito*/
align-items: center;
justify-content: space-between;
}


header  .logo{
color:#E50914;
font-family: 'Arial Black', Times;
font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10PX;

}

header nav a:hover{
color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/houseofcards.jpg');

    height: 400px;
    background-size: cover;

    display: flex; /*joga pra linha*/
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;


}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}